mkdocs==1.6.0
mkdocs-material==9.5.21
mkdocs-ezlinked-plugin==0.3.3
mkdocs-awesome-pages-plugin==2.9.2
mdx_breakless_lists==1.0.1
mkdocs-preview-links-plugin==0.6.2
mkdocs-embed-file-plugins==2.0.9
mkdocs_custom_fences==0.1.2
mkdocs-git-revision-date-localized-plugin==1.2.5
mkdocs-encryptcontent-plugin==3.0.3
mkdocs-callouts==1.13.2
mkdocs-custom-tags-attributes==0.3.3
mkdocs-meta-descriptions-plugin==3.0.0
obsidiantools==0.10.0
pyvis==0.3.2
cairosvg==2.7.1
pillow==10.3.0
mkdocs-glightbox==0.4.0
mkdocs-minify-plugin==0.8.0
